:root {
  --blue: #183661;
  --gold: #e6c89d;
  --lg-blue: #0b244d;
  --lightBlue: #239eb7;
}

body {
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.card,
.category-card {
  background-color: var(--blue);
  border: 1px solid var(--gold);
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.list-group-item-action.custom-card:focus, .list-group-item-action.custom-card:hover, .list-group-item-action.custom-card:active {
  background-color: var(--blue) !important;
  color: white !important;
  border: 1px solid var(--gold) !important;
}

.custom-card {
  margin: 1em 0;
  background-color: var(--blue) !important;
  color: white !important;
  border: 1px solid var(--gold) !important;
}

.alert-text {
  text-align: center;
}

.inicio-sesion {
  text-align: center;
  font-weight: 500;
  color: var(--lightBlue);
}

.button-inicio {
  width: auto;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
}

.input-login {
  color: var(--lightBlue);
  text-align: center;
  font-weight: 500;
  margin: 1rem;
}

.google-button {
  width: auto;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  background-color: white;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.product-imgs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.product-imgs {
  width: 250px;
}

.textarea-width {
  width: 50%;
}

.related {
  display: flex;
  flex-direction: row;    
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.img-related {
  max-width: 300px;
  margin: 0.5rem 0;
}

.product-thumbnail {
  width: 75px;
}

.input-cantidad {
  width: 75px;
}

.input-direccion {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  gap: 1.5rem;
}

.input-direcion-calle {
  width: 35%;
}

.input-direcion-numero {
  width: 20%;
}

@media (max-width: 991px) {
  .navbar-button {
    margin: 0.5rem 0;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    max-width: none;
  }
}

.form-label {
  margin-bottom: 0;
}

.form-floating{
  color: black;
}

.fa-trash-alt {
  border: none;
  background-color: var(--blue);
  color: #dc2f43;
  padding: 5px;
}

.modal-inputs::-webkit-outer-spin-button,
.modal-inputs::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-inputs {
  -moz-appearance: textfield;
}

#payment-method-feedback {
  margin-left: 0.5rem;
}

.navbar-dark {
  background-color: var(--blue);
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  padding: 2rem;
  font-size: 1.1rem;
  line-height: 1.2rem;
}

@media (min-width: 991px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.nav-link:hover,
.nav-link:active {
  background-color: var(--gold);
}


.active {
  background-color: var(--gold);
}

.navbar-dark .navbar-nav .nav-link:visited {
  color: white !important;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
  color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--blue) !important;
}

.dropdown-menu {
  background-color: var(--blue);
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.navbar-dark .navbar-nav .dropdown-toggle[aria-expanded="true"] {
  color: var(--blue) !important;
  background-color: var(--gold);
}

.dropdown-item {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--blue);
  background-color: var(--gold);
}

.fa-shopping-cart {
  color: var(--gold);
}

.navbar-dark .navbar-nav .nav-link:hover .fa-shopping-cart {
  color: var(--blue) !important;
}

@media (max-width: 991px) {
  .shop-cart {
    display: none;
  }

  .nb-flex {
    flex-direction: column;
  }

  .nav-link {
    line-height: 1;
    padding: 0.8rem;
  }

  .active {
    background-color: inherit;
  }

  .navbar-dark .navbar-nav .dropdown-toggle[aria-expanded="true"] {
    color: white !important;
    background-color: var(--blue);
  }

  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link:active {
    background-color: var(--blue);
    color: white !important;
  }

  .dropdown-menu-end {
    --bs-position: start;
  }
}

.login-background {
  background: url(../img/32.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-card {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--gold);
  background-color: var(--lg-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-img-container{
  margin: 2rem;
  margin-bottom: 0;
}

.login-img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.account-input {
  margin: 1rem;
}

.login-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  width: 60%;
  max-width: 20rem;
}

.and-more {
  width: 50%;
  margin: auto;
}

.and-more-button {
  color: white;
  background-color: var(--blue);
  border: 1px solid var(--gold);
}

.list-group-item-action:focus,
.list-group-item-action:hover,
.list-group-item-action:active {
  color: var(--blue) !important;
  background-color: var(--gold);
}

.img-thumbnail {
  padding: 0;
  border: 1px solid var(--gold);
}

.list-group-item-action:focus .img-thumbnail,
.list-group-item-action:hover .img-thumbnail,
.list-group-item-action:active .img-thumbnail {
  border: 1px solid var(--blue);
}

.product-list {
  list-style: none;
  line-height: 1.7;
  padding-left: 1.1rem;
}

@media (max-width: 991px){
  .carrousel-row {
    flex-direction: column !important;
  }
  .carrousel-col {
    width: 100% !important;
  }
}

.table {
  background-color: var(--blue);
  border: 2px solid black;
}

.cart-prices {
  background-color: var(--blue);
}

.modal-content {
  background-color: var(--blue);
}

.profile-form input,
.profile-form .input-group {
  width: 80%;
}

.profile-form .input-group{
  display: flex;
  
}

.profile-form {
  padding-top: 3rem;
  padding-bottom: 5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.profile-form .col-6 {
  padding: 1rem;
}

.product-controls {
  align-items: center;
  justify-content: space-between;
}

.product-controls .col {
  display: flex;
  justify-content: flex-end;
}

.filter-clear {
  margin-right: 1.5rem;
}

.send-commentary {
  border-bottom: 1px solid white;
}

.profile-img {
  width: 200px;
  margin-top: 2rem;
  height: 150px;
}

.profile-img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.head {
  margin-bottom: 3rem;
}